<div class="col-sm-12" style="width: 100% !important;">
	<div class="col-sm-7">

	<br>
	<label  style="color: white; font-size:25px !important;"><img src="assets/images/write.png" alt="IMG" style="width: 28px; height: 28px; color: white;"> {{title}}
	
</label>
<hr/>
	<div class=" people">
		<div class="alert alert-success" *ngIf="status == 'success'">
			Has enviado el mensaje correctamente, miralo en <a [routerLink]="['/mensajes/enviados']">tus mensajes enviados</a>
		</div>

		<div class="alert alert-danger" *ngIf="status == 'error'">
			No se ha podido enviar el mensaje correcamtente. Intentalo mas tarde
		</div>

		<form #formAdd="ngForm" (ngSubmit)="onSubmit(formAdd)">

				<span class="date nickname" style="font-size: 15px; color: white;">
					Mensaje para:
				</span>
				<p>
				<!--listado de seguidores-->
				<select *ngIf="follows" name="receiver" #receiver="ngModel" [(ngModel)]="message.receiver" class="form-control" required>
					<option value="">Selecciona un amigo</option>
					<option *ngFor="let follow of follows" value="{{follow.user._id}}">
						{{follow.user.name + ' ' + follow.user.surname + ' ('+ follow.user.nick + ')'}}
				</select>
			</p>

			
				<span class="date nickname" style="font-size: 15px; color: white;">
					Escribir un mensaje:
				</span>
				<textarea name="text" #text="ngModel" [(ngModel)]="message.text" class="form-control" required style="resize: none;" maxlength="255" placeholder="Hola, ¿Cómo estás? :D..." rows="5" cols="50"></textarea>
				<span *ngIf="!text.valid && text.touched">
					El mensaje es obligatorio
				</span>

			<input type="submit" value="{{title}}" class="btn btn-success" style="background-color: #429cae; margin-top: 20px;"/>
		</form>
	</div>
</div>
<div class="col-sm-5 search_and_share" style="margin-top: 15%;">
		<div id="user-card" class="panel panel-default pull-left" style="width: 100% ;">
			<span style="color: black;"><p>Mensajes enviados por:</p>{{identity.name + ' ' + identity.surname}}</span>
			<div class="avatar pull-left">
				<img src="{{ url + 'get-image-user/' + identity.image }}" *ngIf="identity.image"/>
				<img src="assets/user.png" *ngIf="!identity.image"/>
			</div>

			<div class="name-surname pull-left">
					<span style="font-size: 12px;">@{{identity.nick}}</span>
				
				<p class="nickname"><a [routerLink]="['/perfil',identity._id]" class="username" style="font-size: 13px; color:#429cae;">
					Ir a mi perfil
				</a></p>
				<div class="clearfix"></div>
			</div>

			<div class="clearfix"></div>
		</div>
	</div>

</div>