<div class="col-lg-10" style="width: 100% !important;">
	<br>
	<label  style="color: white; font-size:25px !important;"><img src="assets/images/write.png" alt="IMG" style="width: 28px; height: 28px; color: white;"> {{title}}
	
</label>
<hr/>
	<div class=" people">
		<div class="alert alert-success" *ngIf="status == 'success'">
			Has enviado el mensaje correctamente, miralo en <a [routerLink]="['/mensajes/enviados']">tus mensajes enviados</a>
		</div>

		<div class="alert alert-danger" *ngIf="status == 'error'">
			No se ha podido enviar el mensaje correcamtente. Intentalo mas tarde
		</div>

		<form #formAdd="ngForm" (ngSubmit)="onSubmit(formAdd)">

				<span class="date nickname" style="font-size: 15px; color: white;">
					Mensaje para:
				</span>
				<p>
				<!--listado de seguidores-->
				<select *ngIf="follows" name="receiver" #receiver="ngModel" [(ngModel)]="message.receiver" class="form-control" required>
					<option value="">Selecciona un amigo</option>
					<option *ngFor="let follow of follows" value="{{follow.user._id}}">
						{{follow.user.name + ' ' + follow.user.surname + ' ('+ follow.user.nick + ')'}}
				</select>
			</p>

			
				<span class="date nickname" style="font-size: 15px; color: white;">
					Escribir un mensaje:
				</span>
				<p>
				<textarea name="text" #text="ngModel" [(ngModel)]="message.text" class="form-control" required style="resize: none;" maxlength="255" placeholder="Hola, ¿Cómo estás? :D..." rows="5" cols="50"></textarea>
				<span *ngIf="!text.valid && text.touched">
					El mensaje es obligatorio
				</span>
			</p>

			<input type="submit" value="{{title}}" class="btn btn-success" style="background-color: #429cae;"/>
		</form>
	</div>
</div>