<div class="col-lg-10"  style="width: 100%;">
	<br>
	<label  style="color: white; font-size:25px !important;"><img src="assets/images/email.png" alt="IMG" style="width: 28px; height: 28px; color: white;"> {{title}}
	
</label>
<hr/>

	<!--listado de mensajes recibidos-->
	<div class="people" *ngIf="messages">

		<!--LISTADO-->
		<div *ngFor="let message of messages" class="item-user">
			<div class="panel panel-default" *ngIf="message.emitter">
				<div class="panel-body" style="width: 100%;">

					<button class="btn btn-danger" style="position: absolute; left: 89%;"><img src="assets/images/delete.png" alt="IMG" style="width: 15px; height: 15px; color: white;"></button>
					<div class="image-user pull-left">
						<a href="#">
							<img src="{{ url +'get-image-user/' + message.emitter.image }}" *ngIf="message.emitter.image" style="width: 100%; height: auto;"/>
							<img src="assets/user.png" class="avatar-default" *ngIf="!message.emitter.image"/>
						</a>	
					</div>
						<div>
							<span class="nickname">@{{message.emitter.nick}} </span>
							<a [routerLink]="['/perfil',message.emitter._id]">
								{{message.emitter.name + ' ' + message.emitter.surname}}
							</a>

						</div>

						<span class="date nickname" style="font-size: 11px;">
								{{ (message.created_at | amFromUnix) | amLocale:'es' | amTimeAgo }}
							</span>
							<br/>
						<span style="font-size: 15px;">
							{{message.text}}
						</span>


				</div>
			
			</div>

		</div>

		<!--PAGINACION-->
		<ul class="pagination pull-right">
			<li *ngIf="page > 1"><a [routerLink]="['/mensajes/recibidos', prev_page]">Anterior</a></li>
			<li *ngIf="pages != page"><a [routerLink]="['/mensajes/recibidos', next_page]">Siguiente</a></li>
		</ul>


</div>
