<div class="col-lg-8 col-lg-offset-2">
	
	<div  class=" jumbotron animated bounce infinite" style="filter:alpha(opacity=50); opacity:0.5;"  >
		<h1 style="color:#086A87 ;"  >{{title}}</h1>
		<h2>UNMSM</h2> 
		<!-- style="background-color:#FF0000;" -->
		<div class="align-center">
			<h3>INTEGRANTES</h3>
			<ul style="text-align:center;">
				<li type="circle">Vasquez Saenz Nataly Grace</li>
				
				<li type="circle">Saenz Falcon Brandom Duvan</li>
				
				<li type="circle">Velasquez Yzquierdo Miguel Eduardo</li>

				<li type="circle">Ruiz Flores Roy Roger Ruben</li>
				
				<li type="circle">Igunza Arnold</li>
				
				<li type="circle">Benjamin</li>
				</ul>

			

		</div>
		


		<!-- <p>
			<a href="#" class="btn btn-success btn-lg" role="button">
				Mi perfil
			</a>
			<a href="#" class="btn btn-primary btn-lg" role="button">
				Timeline
			</a>
			<a href="#" class="btn btn-default btn-lg" role="button">
				Gente
			</a>
		</p> -->


	</div>

</div>