<div class="limiter" >
		<div class="brandon" style="height: 100% !important;">
            <div class="login100-pic" align="center">
					<img src="assets/images/unmsm.png" alt="IMG" style="width: 70%; height: 70%; color:white;">
                    
				</div>
			<div class="wrap-login100 p-t-30 p-b-50 animated rubberBand">
				<span class="login100-form-title" style="font-size:30px !important;">
					BASE DE DATOS III
				</span>
                
				<h5 class="login100-form-title p-b-41" style="font-size:20px;">
					Proyecto Final
                </h5>
                <div>
                
					<div class="wrap-input100 validate-input" data-validate = "Enter username">
                        <span class="login100-form-title">
					Integrantes
				</span>
					</div>

					<div class="wrap-input100 validate-input login100-form-title" data-validate="Enter password" align="center">
						<label style="font-size: 17px;">Vasquez Saenz Nataly Grace</label>
				
				<label style="font-size: 17px;">Saenz Falcon Brandom Duvan</label>
				
				<label style="font-size: 17px;">Velasquez Yzquierdo Miguel Eduardo</label>
                            
				<label style="font-size: 17px;">Ruiz Flores Roy Roger Ruben</label>
                       
				
				<label style="font-size: 17px;">Igunza Alvarez Arnold</label>
                       
				<label style="font-size: 17px;">Benjamin Cornejo</label>
					</div>
                
                </div>
                <footer>
                    <div align="center">
                        <div class="login100-pic" align="center">
							<img src="assets/images/fisi.png" alt="IMG" style="width: 15%; height: 15%; color:white;padding-top: 15px;">
							</div>
                            <label style="color:white; padding-top: 5px;">
                            Facultad de Ingeniería de Sistemas e Informática
                        	</label>
                    </div>
                    </footer>
				</div>
			</div>
		</div>