<div  class="brandon" style="height: 90% !important;">


		<div class="alert alert-success" *ngIf="status == 'success'">
			Registro completado correctamente, <a [routerLink]="['/login']">identificate aquí</a>
		</div>
			
			<div class="alert alert-danger" *ngIf="status == 'error'" style="margin:15px;">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<p>1. Probablemente:</p>
			<p>2. Email registrado anteriormente.</p>
			<p>3. Datos no ingresados correctamente.</p>
			<p>4. Campos vaciós.</p>
		</div>
		<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" >
			<label class="animated pulse infinite "  style= 'text-align: center; font-size : 300%; color:rgb(253, 253, 253); ' >{{title}}, ¡únete!</label>
			<hr/>
		

			<p>
				<label style="color: white; font-size: 17px;"><img src="assets/images/name.png" alt="IMG" style="width: 20px; height: 20px; color: white;"> Información personal</label>
				
			</p>
				
			<p>
				<input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required placeholder="Nombres completos" />
			</p>
			<p>
				<input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required placeholder="Apellidos completos" />
			</p>
	
			<br>
			<p>
				<label style="color: white; font-size: 17px;"><img src="assets/images/nickname.png" alt="IMG" style="width: 20px; height: 20px; color: white;"> Nombre de Usuario</label>
				<input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" class="form-control" required />
			</p>
	
			<br/>
			<p>
				<label style="color: white; font-size: 17px;"><img src="assets/images/user.png" alt="IMG" style="width: 20px; height: 20px; color: white;"> Correo electrónico (Institucional)</label>
				<input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="example@unmsm.edu.pe"/>
			</p>
	
	
			<p>
				<label style="color: white; font-size: 17px;"><img src="assets/images/key.png" alt="IMG" style="width: 20px; height: 20px; color: white;"> Contraseña</label>
				<input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required placeholder="····················"/>
			</p>
	
			<input type="submit" value="Crear cuenta" class="btn btn-success btn-lg btn-block" style="background-color: #429cae;"/> 
		</form>
	

	</div>