<div class="col-lg-4" style="background-color: white; padding: 0px; height: 100%;">
	<div class="sidebar-admin" >
		<ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
			<li role="presentation" [routerLinkActive]="['active']">
				<a [routerLink]="['enviar']"><img src="assets/images/write.png" alt="IMG" style="width: 20px; height: 20px; color: white;">  Enviar mensaje</a>
			</li>
			<li role="presentation" [routerLinkActive]="['active']">
				<a [routerLink]="['recibidos']"> <img src="assets/images/email.png" alt="IMG" style="width: 20px; height: 20px; color: white;">  Mensajes recibidos</a>
			</li>
			<li role="presentation" [routerLinkActive]="['active']">
				<a [routerLink]="['enviados']"><img src="assets/images/send.png" alt="IMG" style="width: 20px; height: 20px; color: white;">  Mensajes enviados</a>
			</li>
			
		</ul>
	</div>
</div>

<div class="col-lg-7 grace" style="width: 65%; height: 100%;">
	
	<router-outlet></router-outlet>
</div>